asgiref==3.5.1
Babel==2.10.1
Django==4.0.4
django-cors-headers==3.11.0
django-environ==0.8.1
django-localflavor==3.1
django-money==2.1.1
django-rest-framework==0.1.0
djangorestframework==3.13.1
localflavor==1.9
mysqlclient==2.1.0
py-moneyed==1.2
PyMySQL==1.0.2
python-stdnum==1.17
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
